@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}
.wrapper {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
/*
* hamburger menu
*/
button.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

button.hamburger-menu > i {
  color: #fff;
  font-size: 1.5rem;
}

button.hamburger-menu > i.icon-close {
  display: none;
}

/*
* menu
*/
nav {
  background-color: #222831;
  color: #fff;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 100;
}
nav > .wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  background-color: #222831;
  align-items: center;
}

.menu {
  width: 60%;
}

.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-evenly;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
  padding: 0px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  height: 45px;
}

/*
* hero / jumbotron
*/
header {
  background: url("background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Patua One", seri;
  letter-spacing: 4px;
  text-shadow: 0 0 3px #000;
}
.header-opacity {
  background-color: #222831;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

.header-jumbotron {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.header-jumbotron > h4 {
  color: #E9B63B;
  font-size: 2rem;
  margin: 0px;
  padding: 0px;
}
.header-jumbotron > h5 {
  color: #fff;
  margin: 0px;
  padding: 5px;
  font-size: 3.5rem;
  line-height: 4rem;
  text-transform: uppercase;
}

.header-jumbotron > p {
  padding: 5px;
  margin: 0px 5px 20px 5px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #333;
  text-shadow: none;
}

.button {
  background-color: #E9B63B;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  font-family: "Patua One", serif;
}
.button-xl {
  font-size: 2.8rem;
  padding: 20px;
}

/*
* Tentang Saya
*/

#Tentang-Saya {
  background-color: #fff;
  color: #222831;
}

#Tentang-Saya > .wrapper {
  padding: 10px 0px 50px 0px;
}

#Tentang-Saya > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: "Patua One", serif;
  margin-bottom: 5px;
}

#Tentang-Saya > .wrapper > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

#Tentang-Saya > .wrapper > div {
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: space-between;
  align-items: ;: center;
}

#Tentang-Saya > .wrapper > div > .foto {
  width: 30%;
}

#Tentang-Saya > .wrapper > div > .foto > img {
  max-width: 100%;
}

#Tentang-Saya > .wrapper > div > .desc {
  width: 70%;
  padding: 20px;
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: "Patua One", serif;
  letter-spacing: 1px;
}

#Tentang-Saya > .wrapper > div > .desc > p {
  color: #666;
  margin: 0px 0px 10px 0px;
  font-size: 1.3rem;
}

#Tentang-Saya > .wrapper > div > .desc > .social {
  display: flex;
  width: 20%;
  justify-content: space-between;
  font-size: 1rem;
}

#Tentang-Saya > .wrapper > div > .desc > .social > a {
  color: #00adb5;
}

/*
* Riwayat Pendidikan 
*/
#Riwayat-Pendidikan {
   background-color: #222831;
   color: #EEEEEE;
}

#Riwayat-Pendidikan > .wrapper > h4 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: "Patua One", serif;
  margin-bottom: 10px;
}

#Riwayat-Pendidikan > .wrapper > h4 > small {
  color: #E9B63B;
  font-size: 2.8rem;
  font-family: "Patua One", serif;
  margin: 0px;
  padding: 0px;
}

#Riwayat-Pendidikan > .wrapper > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 50px;
  padding: 0px 0px 50px 0px;
}
.grid > .item {
  border: 1px solid #393E46;
  background-color: #393E46;
  border-radius: 5px;
  position: relative;
}

.grid > .item > img {
  width: 40%;
  height: 88%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.grid > .item > .item-detail {
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  color: #eeeeee;
}

.grid > .item > .item-detail > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.grid > .item > .item-detail > div > small {
  color: #ccc;
  font-size: 1rem;
  font-style: italic;
}

/*
* Skill Dan Pengalaman
*/
#Skill-Dan-Pengalaman {
  background-color: #222831;
  color: #eeeeee;
}

#Skill-Dan-Pengalaman > .wrapper > h6 {
  text-align: center;
  font-size: 2.8rem;
  margin: 0px;
  padding: 0px;
  font-family: "Patua One", serif;
  margin-bottom: 10px;
}

#Skill-Dan-Pengalaman > .wrapper > h6 > small {
  color: #E9B63B;
  font-size: 2.8rem;
  font-family: "Patua One", serif;
  margin: 0px;
  padding: 0px;
} 

#Skill-Dan-Pengalaman > .wrapper > p {
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}

/*
* 1024, 900, 768, 600, 450 
*/
@media only screen and (max-width: 1024px){
  .wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 900px){
  .grid {
    grid-template-columns: 45% 45%;
  }
  .item > img {
    width: 8%;
  }
}

@media only screen and (max-width: 768px){
  .menu {
    width: 60%;
  }
  .header-jumbotron > h4 {
    font-size: 2rem;
  }
  .header-jumbotron > h5 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  
  .header-jumbotron > p {
    font-size: 0.8rem;
  }
  
  .button {
    padding: 5px;
  }
  .button-xl {
    font-size: 1.2rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px){
  .grid {
    grid-template-columns: 100%;
  }
  
  button.hamburger-menu {
    display: inline;
  }
  .menu {
    display: none;
  }
  
  .tampil {
    display: inline;
  }
  .tampil > ul {
    flex-direction: column;
    background-color: #000;
    width: 100%;
    position: fixed;
    top: 85px;
    left: 0;
  }
  
  .tampil > ul > li {
    padding: 10px 20px 10px 20px;
  }
  
#Tentang-Saya > .wrapper > div > .desc {
  width: 100%;
  padding: 20px;
  margin: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
  font-family: "Patua One", serif;
  color: #000;
  font-size: 0.5rem;
}
